<h1>TABLE</h1>
<h2>Fixed</h2>
<div style="position: fixed; color: red">123</div>
<p style="width: 40px">Guardian đưa tin Tổng thống Ukraine Volodymyr Zelensky đã có chuyến thị sát bất ngờ tới khu vực tiền tuyến ở tỉnh miền Nam Zaporizhia vào hôm 27/3. Trong chuyến thăm này, ông Zelensky đã "thị sát một số khu vực tại tuyến đầu, tìm hiểu về tình hình chiến sự cũng như trao tặng phần thưởng cho các binh sĩ".

  Trên trang Telegram cá nhân, Tổng thống Ukraine cũng đã đăng tải một đoạn trạng thái về chuyến đi đặc biệt trên.

  "Tôi đã đến thăm sở chỉ huy chiến dịch của nhóm tác chiến Zaporizhia. Tại đây, tôi đã trao tặng huân huy chương tới các binh sĩ của lực lượng an ninh, vệ binh quốc gia, cảnh sát quốc gia, biên phòng cùng lực lượng tình trạng khẩn cấp Ukraine. Cảm ơn các bạn vì đã bảo vệ đất nước và sự toàn vẹn lãnh thổ của chúng ta. Tôi chúc các bạn thật nhiều sức khỏe. Chiến thắng cuối cùng chắc chắn sẽ đến với chúng ta", ông Zelensky viết.

  Nhân chuyến thăm Zaporizhia, Tổng thống Zelensky đã có cuộc hội kiến với Tổng giám đốc Cơ quan Năng lượng Nguyên tử Quốc tế (IAEA) Rafael Grossi để trao đổi về tình hình tại nhà máy điện hạt nhân Zaporizhia lớn nhất châu Âu.

  Tổng thống Zelensky bất ngờ thị sát tiền tuyến ở Zaporizhia - 2
  Tổng thống Zelensky đã có cuộc hội kiến với Tổng giám đốc IAEA Rafael Grossi (Ảnh: Twitter).

  Đây là chuyến thị sát tiền tuyến thứ 3 của người đứng đầu chính quyền Ukraine chỉ trong vòng 2 tuần. Trước đó, ông Zelensky có chuyến đi tới Bakhmut và Kherson để kiểm tra tình hình tác chiến và động viên binh sĩ Ukraine.

  Tại Kherson, Tổng thống Zelensky đã có cuộc họp với các chỉ huy quân sự để thảo luận về phương án đối phó với các cuộc tấn công từ Nga. Ông cũng trao tặng huân huy chương cho một số binh sĩ vì thành tích xuất sắc trong nhiệm vụ giành lại Kherson cũng như bảo vệ thành phố chiến lược này khỏi các cuộc tấn công của Nga.

  Đáp lại, các binh sĩ Ukraine đã tặng Tổng thống Zelensky một bức phù hiệu và một tấm bản đồ có in hình bán đảo Crimea. Ngoài ra, ông Zelensky cũng nhận được món quà đặc biệt là một chiếc đồng hồ được làm từ xác một khẩu pháo bị phá hủy của quân đội Nga.

  Zaporizhia là một trong 4 tỉnh của Ukraine được Nga tuyên bố sáp nhập hồi tháng 10 năm ngoái. Tuy nhiên, quân đội Nga chưa kiểm soát được toàn bộ lãnh thổ của tỉnh này, đặc biệt là tại thành phố thủ phủ Zaporizhia cùng khu vực nhà máy điện hạt nhân Zaporizhia.

  Thời gian gần đây, quân đội Ukraine đã điều động một lực lượng binh sĩ và trang thiết bị quân sự về khu vực này nhằm sẵn sàng cho các cuộc phản công giành lại lãnh thổ. Hôm 27/3, ông Vladimir Rogov, quan chức thân Nga ở Zaporizhia xác nhận Ukraine đã triển khai 75.000 quân tới tỉnh miền Nam để chuẩn bị cho kế hoạch tác chiến trong thời gian tới.</p>
